body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    color: #fff;
    padding: 10px 20px;
}
header img {
    height: 40px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ccc;
}
.user-info {
    font-size: 14px;
}